name: test

on: [push, pull_request]

env:
  GO_VERSION: '~1.24.0'
  GOLANGCI_LINT_VERSION: 'v2.4.0'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: go test -short -v ./...

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          golangci_lint_version: ${{ env.GOLANGCI_LINT_VERSION }}
          filter_mode: nofilter
          fail_level: error
          go_version: ${{ env.GO_VERSION }}
          reporter: github-pr-review
